<div class="container">
  <div class="section-box">
    <div class="jumbotron">
      <h2 class="display-4"><%= current_user.name %></h2>          
      <hr class="my-4">
    </div>
      <div>
        <div class="row">
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card" id="tab1" >
              <div class="card-body">

                  <div class="form-group">
                  </div>
                  <div class="form-group">
                  </div>
                  <div class="form-group">

                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <div class="form-group">
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



  