.alert {
  border-radius: 0 !important;
}

.alert-danger {
  background-color: #ef2853 !important;
  border-color: #ef2853 !important;
  color: #ffffff !important;
}

.alert-notice {
  background-color: #ffa803 !important;
  border-color: #ffa803 !important;
  color: #ffffff !important;
}

.alert-success {
  background-color: #1b8852;
  border-color: #1b8852;
  color: #ffffff;
 }