<div class="body-mailer div-mailer">
  <center>
    <div class="email-container div-mailer div-mailer-second">
      <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
        <tr style="background: #000000">
          <td valign="top" class="bg-black" style="padding: 1em 2.5em;">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="hero bg-white">
            <div class="overlay div_mailer"></div>
            <table>
              <tr>
                <td>
                  <div class="text div-mailer div-mailer-body">
                    <h2>Ciao <%= @resource.first_name %>! </h2>
                    <p>Hai Richiesto il link per il reset password, Eccolo:</p>
                    <p><%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2' %></p>
                    <br>
                    <p >Se non sei stato tu per favore ignora questa mail.</p>
                    <p>Segui il link e cambia la tua password.</p>
                  </div>
                </td>
              </tr>
            </table>
            </td>
        </tr>
      </table>
    </div>
  </center>
</div>

